<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/main.js" defer></script>
    <title>404 PAGE NOT FOUND</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
</head>

<body>
    <h1>ASCII-ART-WEB</h1>
    <h2>Page not found</h2>
    <a href="http://localhost:3030/">
        <button class="button glow-effect">Go back to 🌐<svg class="glow-container">
                <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
                <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
            </svg></button>
    </a>
</body>
<footer class="footer">
    <p>Made by 4stroPhysik3r</p>
</footer>

</html>